// colors
$white: #ffffff;

// typography
$default-font-color: rgba(0, 17, 34, 0.8);

// borders
$header-border-color: #eeeeee;
$location-card-border-color: rgba(0, 17, 34, 0.1);

//backgrounds
$location-card-bg-color: rgba(246, 246, 246, 0.2);
$location-card-hover-bg-color: rgba(246, 246, 246);
$modal-overlay-bg-color: rgba(0, 17, 34, 0.6);

//buttons
$modal-footer-button: #37B24D;

// shadows
$modal-box-shadow: rgba(0, 17, 34, 0.2)
