.location-modal__description {
  margin-top: 1.5rem;
  max-height: 96px;
  overflow-y: auto;
}

.location-modal__description-title {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.714;
}

.location-modal__description-content {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.714;
}
