.location-content__list {
  display: flex;
  flex-direction: column;
}

.location-content__list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.location-content__list-item-text {
  font-size: 1.4rem;
  line-height: 1.714;
  font-weight: 500;
}

.location-content__list-item-image {
  opacity: 0.3;
}
